# Entornos virtuales
env/
venv/

# Variables privadas
.env
.env.*

# Instancia / SQLite
instance/
*.sqlite3
*.db

# Compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Logs
*.log

# Archivos SQL generados
*.sql

# IDEs y SO
.vscode/
.DS_Store
